body {
    background-image: url(Background.png);
    background-size: contain"
    
}


.Cars{
margin: 20px;
width: 200px;

}

p.img{
    width: 50px;
    margin: 50x;
}

a{
    font-style: normal;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

a :hover{
    background-color: darkorange;
}
.Galleri{
    
    margin: 100px;
    align-self: center;
    text-align: center;
 
    
    border-width: 20px;
    border-style: solid;
    border-color: black;
    
}

#Galleri2{
    margin: 100px;
    align-self: center;
    text-align: center;
 
    
    border-width: 20px;
    border-style: dotted;
    border-color: coral;
}

h1{
    text-align: center;
}

#info{
    text-align: center;
}